# Xcode
DerivedData/
.build/

# User settings
*.xcuserstate
xcuserdata/

# macOS
.DS_Store

# Swift Package Manager
Packages/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive